

@{
    ViewBag.Title = "Employee List";
}

@model List<ASP.NET_CRUD_ENTITY.Models.Employee>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage <b>Employees</b></h2>
                </div>
                <div class="col-sm-6">
                    <a @*href="#addEmployeeModal"*@ class="btn btn-success" @*data-toggle="modal"*@ onclick="renderAdd();"><i class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>
                    <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal" onclick="deleteSelection();"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="selectAll">
                            <label for="selectAll"></label>
                        </span>
                    </th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="@Model[i].EmployeeId" name="option" value="@Model[i].EmployeeId">
                                <label for="@Model[i].EmployeeId"></label>
                            </span>
                        </td>
                        <td>@Model[i].EmployeeName</td>
                        <td>@Model[i].EmployeeEmail</td>
                        <td>@Model[i].EmployeeAddress</td>
                        <td>@Model[i].EmployeePhone</td>
                        <td>
                            <a style="cursor:pointer;" @*href="#editEmployeeModal"*@ class="edit" @*data-toggle="modal"*@ onclick="renderEdit('@Model[i].EmployeeId');"><i class="material-icons" @*data-toggle="tooltip"*@ title="Edit">&#xE254;</i></a>
                            <a style="cursor:pointer;" @*href="#deleteEmployeeModal"*@ class="delete" @*data-toggle="modal"*@ onclick="renderDelete('@Model[i].EmployeeId');"><i class="material-icons" @*data-toggle="tooltip"*@ title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">Showing <b>5</b> out of <b>@Model.Count</b> entries</div>
            <ul class="pagination">
                <li class="page-item disabled"><a href="#">Previous</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item active"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->

<div id="addModal"></div>
<div id="deleteModal"></div>
<div id="editModal"></div>





@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            // Activate tooltip
            //$('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });
    </script>
    <script type="text/javascript">
        function initPhoneValidator() {
            $.validator.addMethod("phone", function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var reverseValue = $.trim(value).split("").reverse().join("");
                var reverseRegEx = new RegExp("^(\\d+\\s?(x|\\.txe?)\\s?)?((\\)(\\d+[\\s\\-\\.]?)?\\d+\\(|\\d+)[\\s\\-\\.]?)*(\\)([\\s\\-\\.]?\\d+)?\\d+\\+?\\((?!\\+.*)|\\d+)(\\s?\\+)?$", "i");
                var match = reverseRegEx.exec(reverseValue);
                return (match && (match.index === 0) && (match[0].length === value.length));
            });
            $.validator.unobtrusive.adapters.addBool("phone");
        }
        function addOreditEmployee(employeeId) {



            initPhoneValidator();
            $.validator.unobtrusive.parse($('#addForm'));
            if ($('#addForm').valid()) {

                var name = $('#EmployeeName').val();
                var email = $('#EmployeeEmail').val();
                var address = $('#EmployeeAddress').val();
                var phone = $('#EmployeePhone').val();
                var employee = { EmployeeId: employeeId, EmployeeName: name, EmployeeEmail: email, EmployeeAddress: address, EmployeePhone: phone };
                $.ajax({
                    url: '@Url.Action("AddOrEditEmployee","Employee")',
                    contentType: "application/json",
                    data: JSON.stringify({ emp: employee }),
                    //dataType: "json",
                    type: "post",
                    success: function (savingStatus) {


                        $('#addEmployeeModal').modal('toggle');
                        $.notify("Saved Successfully", {
                            globalPosition: "top center",
                            className: "success",
                        });
                        setTimeout(function () { reload(); }, 2500);


                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#lblCommentsNotification').text("Error encountered while saving the comments.");
                        console.log(thrownError);
                    }
                });
            }

            return false;
        }
        function reload() {
            location.reload();
        }
    </script>

    <!--AJAX CALL TO RENDER THE ADD MODAL-->
    <script>
        function renderAdd() {
              $.ajax({
                    url: '@Url.Action("RenderAddEmployee","Employee")',
                    contentType: "application/json",
                    type: "Get",
                    success: function (result) {
                        $('#addModal').html(result);
                        $('#addEmployeeModal').modal('show');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#lblCommentsNotification').text("Error encountered while saving the comments.");
                    }
                });
        }

    </script>
    <!--AJAX CALL TO RENDER THE DELETE MODAL-->
    <script>
        function renderDelete(employeeID) {
            console.log(employeeID);
              $.ajax({
                    url: '@Url.Action("RenderDeleteEmployee","Employee")',
                    contentType: "application/json",
                    type: "Post",
                    data: JSON.stringify({ employeeId: employeeID }),
                    success: function (result) {
                        $('#deleteModal').html(result);
                        $('#deleteEmployeeModal').modal('show');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#lblCommentsNotification').text("Error encountered while saving the comments.");
                    }
                });
        }
    </script>
    <!--AJAX CALL TO RENDER THE EDIT MODAL-->
    <script>
        function renderEdit(employeeID) {
            console.log(employeeID);
              $.ajax({
                    url: '@Url.Action("RenderEditEmployee","Employee")',
                    contentType: "application/json",
                    type: "Post",
                    data: JSON.stringify({ employeeId: employeeID }),
                    success: function (result) {
                        $('#editModal').html(result);
                        $('#addEmployeeModal').modal('show');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#lblCommentsNotification').text("Error encountered while saving the comments.");
                    }
                });
        }
    </script>
    <script>
        function deleteEmployee(employeeId) {
            console.log("Delete employee");
            console.log(employeeId);
            $.ajax({
                    url: '@Url.Action("DeleteEmployee", "Employee")',
                    contentType: "application/json",
                    data: JSON.stringify({ employeeId: employeeId }),
                    type: "post",
                    success: function (DeleteStatus) {

                        console.log(DeleteStatus);
                        $('#deleteEmployeeModal').modal('hide');
                        $.notify("Deleted Successfully", {
                            globalPosition: "top center",
                            className: "success",
                        });
                        setTimeout(function () { reload(); }, 2500);


                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#lblCommentsNotification').text("Error encountered while saving the comments.");
                        console.log(thrownError);
                    }
                });

        }
    </script>
    <script>
        function deleteSelection() {
            var selectedEmployees = [];
            $.each($("input[name='option']:checked"), function () {
                selectedEmployees.push($(this).val());
            });

             $.ajax({
                    url: '@Url.Action("DeleteSelectedEmployee", "Employee")',
                    contentType: "application/json",
                    data: JSON.stringify({ employeeIds: selectedEmployees }),
                    type: "post",
                    success: function (DeleteStatus) {

                        console.log(DeleteStatus);
                        console.log("delete selection");
                        $('#deleteEmployeeModal').modal('hide');
                        $.notify("Selection Deleted Successfully", {
                            globalPosition: "top center",
                            className: "success",
                        });
                        setTimeout(function () { reload(); }, 2500);


                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#lblCommentsNotification').text("Error encountered while saving the comments.");
                        console.log(thrownError);
                    }
                });
        }
    </script>
}